<ul>
  <li><%= link_to_nav page, "home", url_for(:home) %></li>
  <li><%= link_to_nav page, "dinosaurs", url_for(:page, :page => "dinosaurs") %></li>
  <li><%= link_to_nav page, "aliens", url_for(:page, :page => "aliens") %></li>
</ul>